.git
.env
.env.*
/vendor
/node_modules
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/public/hot
.phpunit.result.cache
.idea
.vscode
